body {
    margin: 0 auto;
}

.wrapper {
    box-shadow: 10px 0 15px -4px rgba(0, 0, 0, 0.4), -12px 0 8px -4px rgba(0, 0, 0, 0.4);
    max-width: 1400px;
    margin: 0 auto;
    width: 80%;
}

h5 {
	color:  #ffffff;
	font: normal 32px 'Cookie', cursive;
    margin: 0 auto;
}

header {
    background-color: #FF7F27; 
    height: 50px;
}

label {
  font: bold 14px sans-serif;
}

main {
    width: 80%;
    padding: 25px;
    padding-left: 50px;
    padding-top: 5%;
    margin: 0 auto;
    min-height: 500px;
}

.login {
    float: left;
    margin: 20px;
    padding: 5px;
    background: #FF7F27;
    height: 250px;
    width: 300px;
}
.login h1 {
    box-sizing: border-box;
    color: #ffffff;
    display: block;
    height: 30px;
    padding-top: 15px;
    padding-left:37px; 
    margin: 0;
    text-align: left;
    font-family:Arial, "Helvetica", sans-serif;
    font-size: 14px;
}

input[type="password"], input[type="email"], [type="text"], [type="number"], #studiengang {
    background:(top, #d6d7d7, #dee0e0);
    border: 1px solid #a1a3a3;
    border-radius: 4px;
    box-shadow: 0 1px #fff;
    box-sizing: border-box;
    color: #696969;
    height: 39px;
    margin: 20px 0 0 29px;
    padding-left: 37px;
    margin-bottom: 15px;
    transition: box-shadow 0.3s;
    width: 240px;
}

button[type="submit"] {
    width:240px;
    height:35px;
    display:block;
    font-family:Arial, "Helvetica", sans-serif;
    font-size:16px;
    font-weight:bold;
    color: #000000;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin: 20px 0 0 29px;
    position:relative;
    cursor:pointer;
    border: none;  
    background-color: #FFCA06;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px;
}

button[type="submit"]:active {
    top:3px;
    box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #31524d, 0px 5px 3px #999;
}

.clearfix {
    overflow: auto;
}

#chartWahl {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
}

#chart2 {
    height: 30em;
}

.done {
    background: green;
}

.todo {
    background: red;
}

.semesterReihe {
    margin-left:-50px;
}
.droppableFach {
    display: flex;
    align-items: center;
    justify-content: center;
}
#diskette {
    font-size: 20px;
}